
/****************CSS DE REGISTER/////////////////////////*/

#body-register {
    background-image: url("https://i.imgur.com/n6MpSsm.jpg");
    background-size: cover;
}

.container-form-register {
    width: 30%;
    margin-left: 35%;
    background-color: white;
    padding: 25px;
    color: black;
    border-radius: 10px;
    margin-top: 6%;
    text-align: center;
}
.form-login{
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
}
.form-group label {
    text-align: left;
}


/****************CSS DE HOME/////////////////////////////////////////*/


#body-home {
    margin: 0;
    padding: 0;
    font-family: 'Sansita Swashed';
}

.style-navbar {
    background-color: rgb(52, 55, 153)!important;
    padding-left: 15%;
    padding-right: 15%;
}

.style-navbar a img {
    width: 75px;
}

.style-links-navbar a {
    color: white !important;
    font-weight: bolder;
    font-size: 1.2rem;
}

.container-body {
    margin-top: 4.9%;
    background-color: rgba(207,207,207,.2);
}

.container-body-subdivs {
    display: flex;
    width: 70%;
    margin-left: 15%;
    height: 100vh;
}

#container-center {    
    width: 65%;
}

#container-lateral {
    width: 35%;
}

.nav-link {
    margin-right: 15px;
}

.nav-link-left {
    margin-left: 15px;
}

.fas {
    /* color: rgb(85, 155, 255); */
    color: white;
}


.profile-container{
    margin-top: 0;

}


.profile-row{
    background-color: rgb(52, 55, 153);
    margin-right: 8%;
    border-radius: 3%;
    display: none;
    position: absolute;
}

.profile-list-menu{
    list-style: none;
    padding: 0;
    margin: 0;
}

.profile-list-menu-item > a {
    text-decoration: none;
    color: white;
}

.profile-list-menu-item > a:hover {
    color:rgb(242, 166, 69);
}

/* .row-fo */

/* notificaciones */
.note {
    background: none;
    border: none; 
    padding: 0; 
    height: 100%; 
}
.mt-6{
    margin-top: 7rem !important;
}
.notificade{
    position: absolute;
    top: 20px;
    right: 13rem;
    background-color: rgb(255, 5, 5);
    width: 15px;
    height: 15px;
    border-radius: 50%;
    line-height: 15px;
    font-size: 10px;
    text-align: center;
    cursor: pointer;
}
.notificade > span{
    color :white
}
.start {
    width: 250px;
    margin: 0 auto;
    height: 50px;
}

.start p {
    text-align: center;
}
.clasificacion {
    direction: rtl;
    unicode-bidi: bidi-override;
}

.start label {
    font-size: 20px;
}

.clasificacion >input[type="radio"] {
    display: none;
}

.clasificacion >label {
    color: grey;
    font-size: 2rem;
}


.clasificacion >label:hover,
.clasificacion >label:hover ~ label {
    color: orange;
    font-size: 2rem;
}

.clasificacion >input[type="radio"]:checked ~ label {
    color: orange;
}

.container-list {
    width: 50%;
    margin-left: 25%;
}

#title-lista {
    text-align: center;
}


/* Style Mauricio */

.img-url {
    background-image: url("https://i.imgur.com/n6MpSsm.jpg");
    background-size: cover;
}
.rounded-10px {
    border-radius: 10px;
}
.width-30 {
    width: 30%;
}
.absolute-icon {
    right: 50px;
    top: 0;
}
.more-right {
    right: 68px;
}
.icon-star {
    right: 42px;
}
.list-header {
    display: flex;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}
.active {
    color: rgb(85, 155, 255)!important;
}